body {
  background-color: #3C4B62;
  color: white;
}

.App-header {
  text-align: center;
  height: 150px;
  padding: 20px;
}

.App-intro {
  font-size: large;
}

.newIdeaButton {
  background: #F5F4F4;
  ;
  color: black;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin: 1rem;
  padding: 1rem;
}

textarea {
  resize: none;
  height: 90px;
  font-size: 1rem;
}

.card-tile {
  height: 13rem;
  width: 3rem;
  margin: 0px !important;
  background: #bbffbb !important;
  color: black;
  float: left;
  font-size: 1rem;
  text-align: left;
  border-radius: 0 !important;
}

.card-delete {
  float: right;
}